page-game-history {
	ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }

  ion-fab-list {
  	right: 0;
  	align-items: flex-end;
  }
  .alert-md .alert-button {
  	color: red;
  }
  .itemTitleRight{
    display: flex; 
    height: 20px;
    flex-direction: row-reverse;
  }
  .itemTitleLeft{
    display: flex; 
    height: 20px;
    
  }
}
