<!--
  Generated template for the GameHistory page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>TYPuzzle</ion-title>
    <button ion-button menuToggle right (click)="profile()">
    	Logout
	    <ion-icon name="person"></ion-icon>
	  </button>
  </ion-navbar>

</ion-header>

<ion-content padding>

<button ion-button small block *ngIf="isAdmin" (click)="pushAdminPage()">
	ADMIN PAGE
</button>
	<ion-list>
		<ion-list-header>
			<div class="itemTitleLeft">
				Saved Games
			</div>
			<div class="itemTitleRight">
				<span>
					<div>
						Swipe Left to Continue a Game
					</div>
					<div>
						<ion-icon name="rewind"></ion-icon><ion-icon name="rewind"></ion-icon>
					</div>
				</span>
			</div>
			</ion-list-header>
		<ion-item-sliding *ngFor="let game of savedGames">
	    <ion-item>
	      <ion-avatar item-left>
	        <tile-game [gameData]="game" [miniScale]="true" [playHistory]="true" [noInteraction]="true"></tile-game>
	      </ion-avatar>
	      <h2 *ngIf="game.meta.isChallenge === false">Freeplay</h2>
				<h2 *ngIf="game.meta.isChallenge === true">Challenge: <b>{{game.meta.letter}}</b></h2>
				<h2 *ngIf="game.meta.workshopID !== null">Workshop: {{game.meta.workshopID}}</h2>
	      <ion-note item-right>
					<div class="itemRightText">Last Played: {{formatDateTime(game.meta.lastPlayed)}}</div>
					</ion-note>
				<!--<ion-note item-right>test</ion-note>-->
	    </ion-item>
	    <ion-item-options>
				<button ion-button color="secondary" (click)="continueGame(game)">
	        Continue
	      </button>
	    </ion-item-options>
	  </ion-item-sliding>
	</ion-list>

	<ion-list>
		<ion-list-header>Past Games</ion-list-header>
		<ion-item *ngFor="let game of completedGames">
	      <ion-avatar item-left>
	        <tile-game [gameData]="game" [miniScale]="true" [playHistory]="true" [noInteraction]="true"></tile-game>
	      </ion-avatar>
	      <!--<h2>Letter: {{game.meta.letter}}</h2>-->
				<h2 *ngIf="game.meta.isChallenge === false"><b>Freeplay</b></h2>
				<h2 *ngIf="game.meta.isChallenge === true"><b>Challenge!</b></h2>
				<h2>Letter: {{game.meta.letter}}</h2>
				<h2 *ngIf="game.meta.workshopID !== null">Workshop: {{game.meta.workshopID}}</h2>
	      <ion-note item-right>Completion Date: {{formatDateTime(game.meta.lastPlayed)}}</ion-note>
	    </ion-item>
	</ion-list>

	<ion-fab right bottom>
	  <button ion-fab color="danger" (click)="chooseGameMode()">
	  	<ion-icon name="add"></ion-icon>
	  </button>
	</ion-fab>

</ion-content>
