<!--
  Generated template for the GameScreen page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color="primary">
    <ion-title>TYPuzzle</ion-title>
    <ion-buttons end>
	      <button ion-button icon-right color="royal" (click)="tile.submitGame(true)">
	        Submit
	        <ion-icon name="send"></ion-icon>
	      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="ContentContainer">
    <div id="GameWindowContainer" [ngClass]="rows">
      <div id="GameTopContainer">
          <div>
            <span class="introText">{{introText}}</span>
          </div>
          <div>
            <span *ngIf="this.data.meta.isChallenge" class="introText" id="letterLabel">{{letterLabelText}} <span id="challengeLetter">{{data.meta.letter}}</span></span>

          </div>
      </div>
      <div>
        <tile-game #tile [gameData]="data" (gameSubmitted)='onBackchat($event)'></tile-game>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons right>
      <button ion-button icon-right color="royal" (click)="tile.submitGame(false)">
        Save
        <ion-icon name="cloud-done"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
