    #ContentContainer{
        display:flex;
        justify-content: center;
    }
    #GameControlBarContainer{
        border-top: 1px black solid;
        height:20px;
        display:flex;
        justify-content: space-around;
    }
    #GameContainer{
        display:flex;
        flex-wrap: wrap;
        margin-left:auto;
        margin-right:auto;
    }
    #GameTopContainer{
        border-bottom: 1px black solid;
        margin-bottom: 6px;
        padding-bottom: 2px;
        padding-top: 2px;
        
    }
    #challengeLetter{
        margin-left: auto;
        margin-right:auto;
        color: #666666;
        font-size: x-large;
        width:40%;
    }
    #letterLabel{
        text-align: center;
    }
    .introText{
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        display: block;
        color: #666666;
        text-align: center;
    }
    $divider : 1.3; // !!! Must mirror value in game-component.scss !!!
    @media only screen and (max-width: 385px){
        #GameWindowContainer.five{  
            width:275px / $divider;
            border: 1px black solid;
        }
        #GameWindowContainer.seven{
            width:308px / $divider;
            border: 1px black solid;
        }
        .introText{
            font-size: smaller;
        }
    }
    @media only screen and (min-width: 385px){
        #GameWindowContainer{
            width:375px / $divider;
            border: 1px black solid;
        }
        .introText{
            font-size: medium;
        }
    }
    @media only screen and (min-width: 600px){
        #GameWindowContainer{
            width:520px / $divider;
            border: 1px black solid;
        }
        .introText{
            font-size: larger;
        }
    
    }