    #GameContainer{
        margin-bottom:1px;
    }
    .Tile {
        background:grey;
        margin:1px;
        border:1px #c3c3c3 solid;
    }
    .Tile[data-value="0"]{
        background: whitesmoke;
    }
    .Tile[data-value="1"]{
        background:black;
    }
    .Tile[data-value="2"]{
        background: #bbbbbb;
    }

    // must be above mixins?
    $tileMargin: 2;
    $divider : 1.3;

    @mixin Tile($tileWidth){
        width: $tileWidth;
        height: $tileWidth;
    }
    @mixin ConfigureWidths($tileWidth, $colQuantity){
        #GameContainer{
            width: ($colQuantity * $tileWidth) + ($tileMargin * $colQuantity);
        }
        .Tile{
            @include Tile($tileWidth)
        }
    }

    @media only screen and (max-width: 385px){
        .five {
            $tileWidth : 50px / $divider;
            $colQuantity : 5;
            
            @include ConfigureWidths($tileWidth, $colQuantity);
            &.medium{
                $tileWidth : $tileWidth / 2;
                @include ConfigureWidths($tileWidth, $colQuantity);
            }
            &.mini{
                $tileWidth : $tileWidth / 4;
                @include ConfigureWidths($tileWidth, $colQuantity);
            }
        }
        .seven {
            $tileWidth : 40px / $divider;
            $colQuantity : 7;
            
            @include ConfigureWidths($tileWidth, $colQuantity);
            &.medium{
                $tileWidth : $tileWidth / 2;
                @include ConfigureWidths($tileWidth, $colQuantity);
            }
            &.mini{
                $tileWidth : $tileWidth / 4;
                @include ConfigureWidths($tileWidth, $colQuantity);
            }
        }

    }
    @media only screen and (min-width: 385px){
        .five {
            $tileWidth : 70px / $divider;
            $colQuantity : 5;
            
            @include ConfigureWidths($tileWidth, $colQuantity);
            &.medium{
                $tileWidth : $tileWidth / 2;
                @include ConfigureWidths($tileWidth, $colQuantity);
            }
            &.mini{
                $tileWidth : $tileWidth / 4;
                @include ConfigureWidths($tileWidth, $colQuantity);
            }
        }
        .seven {
            $tileWidth : 50px / $divider;
            $colQuantity : 7;
            
            @include ConfigureWidths($tileWidth, $colQuantity);
            &.medium{
                $tileWidth : $tileWidth / 2;
                @include ConfigureWidths($tileWidth, $colQuantity);
            }
            &.mini{
                $tileWidth : $tileWidth / 4;
                @include ConfigureWidths($tileWidth, $colQuantity);
            }
        }

    }
    @media only screen and (min-width: 600px){
        .five {
            $tileWidth : 100px / $divider;
            $colQuantity : 5;
            
            @include ConfigureWidths($tileWidth, $colQuantity);
            &.medium{
                $tileWidth : $tileWidth / 2;
                @include ConfigureWidths($tileWidth, $colQuantity);
            }
            &.mini{
                $tileWidth : $tileWidth / 4;
                @include ConfigureWidths($tileWidth, $colQuantity);
            }
        }
        .seven {
            $tileWidth : 70px / $divider;
            $colQuantity : 7;
            
            @include ConfigureWidths($tileWidth, $colQuantity);
            &.medium{
                $tileWidth : $tileWidth / 2;
                @include ConfigureWidths($tileWidth, $colQuantity);
            }
            &.mini{
                $tileWidth : $tileWidth / 4;
                @include ConfigureWidths($tileWidth, $colQuantity);
            }
        }
        
    }

 