<div [ngClass]="cssClasses">
    <div id="GameContainer">
        <div class="Tile" *ngFor="let tile of gameData.data; let idx = index" attr.data-value="{{tile}}" attr.location="{{idx}}" (click)="clickTile(idx)"></div>
    </div>
</div>