page-letters {
		@mixin sortHeight($height){
			.sortRow{
				display:flex;
				justify-content: center;
				margin: 3px 0px;
				border-top: 1px #dadada solid;
				border-bottom: 1px #dadada solid;
				height: $height;
				padding-top:4px;
				padding-bottom:4px;
				flex-wrap: wrap;
			}
			.sortRow1{
				display:flex;
				justify-content: center;
				margin: 3px 0px;
				border-top: 1px #dadada solid;
				border-bottom: 1px #dadada solid;
				height: inherit;
				padding-top:4px;
				padding-bottom:4px;
				flex-wrap: wrap;
			}
			.cardContainer{
				display:flex;
				flex-wrap:wrap;
				
			}
			.gridRadio{
				display:flex;
				justify-content: center;
			}
			.searchBtn{
				@if $height==110px {
					margin-top: 0;
				} @else {
					margin-top:$height;
				}
			}
		}
		@mixin inner(){
			display:flex;
			flex-direction: column;
			span {
				margin: 3px 3px;
			}
		}
		.topSort1, .topsort3{
			display:flex;
			justify-content: space-between;
			padding-top:6px;
		}
		.topSort2{
			width:150px;
			display:flex;
			justify-content: center;
			margin-top:4px;
		}
		.topSort5{
			width:150px;
			display:flex;
			justify-content: left;
			padding-top:8px;
			padding-left:4px;
			border-left: 1px #dadada solid;
			flex-direction:column;
		}
		.gridBtn3 .gridRadio{
			padding-top:3px;
		}
		.labelEle{
			padding-left:4px;
		}
		.filterGrids{
			padding: 0px 3px;
			border-left: 1px #dadada solid;
			border-right: 1px #dadada solid;
		}
		.letterListContainer{
			display:flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		.letterListPartA, .letterListPartB{
			display:flex;
			justify-content: space-between;
		}
		.letterListItem{
			display:flex;
			justify-content: space-between;
			width:25px;
		}
		.innerLeft{
			@include inner();
		}
		.innerRight{
			@include inner();
		}
		.spacerDiv{
			width:10%;
			display:flex;
			// justify-content: flex-end;
			padding-right:10px;
		}
		.innerCardContainer{
			display:flex;
		}
		.textElement input{
			margin: 2px 2px;
			width:140px;
			margin-bottom: 3px;
		}

		.grid0, .grid1, .grid2 {
			padding-top:11px;
			padding-bottom:11px;
		}
		.gridSelected{
			background-color: #cacaca;
		}

    .card-wrapper {
			max-width: 320px;
			margin: 0 auto;
			cursor: pointer;
		}
			
		@media only screen and (max-width: 385px){
			@include sortHeight(300px);
		}
		@media only screen and (min-width: 385px){
			@include sortHeight(180px);
		}
		@media only screen and (min-width: 585px){
			@include sortHeight(110px);
		}
		@media only screen and (min-width: 630px){
			@include sortHeight(110px);
		}

	.topSort4 {
		display:flex;
		margin-right:7px;
		.tile, [data-value="1"] {
			background-color: red !important;
			border: 1px solid red !important;
			color: red !important;
		}

		.tile, [data-value="0"], [data-value="2"] {
			border: 0.5px solid #e7e7e7 !important;
			background-color: #e7e7e7 !important;
		}	
	}
}
