<!--
  Generated template for the Letters page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Letters</ion-title>
  </ion-navbar>
  <!--Filters-->
  <div>
    <div class="sortRow">
      <div class="letterListPartA">
        <div class="topSort1">
          <div class="innerLeft">
            <span>Freeplay</span> 
            <span>Challenge</span> 
            <span style="margin-top: 18px;">Capitals</span>
          </div>
          <div class="innerRight">
            <span><ion-toggle [(ngModel)]="filter.freeplay"></ion-toggle></span>
            <span style="margin-top: 5px; height: 15px;"><ion-toggle [(ngModel)]="filter.challenge"></ion-toggle></span>
            <span style="margin-top: 20px; height:15px;"><ion-toggle (click)="clickCapsToggle()" [(ngModel)]="filterByCapitals"></ion-toggle></span>
          </div>
        </div>
        <div class="topSort5">
          <div><div class="textElement"><label class="labelEle">Workshop ID</label></div></div>
          <div>
            <div class="textElement"><input [(ngModel)]="filter.workshopID" placeholder="Workshop ID" id="filterWorkshopID" type="text"></div>
          </div>
        </div>
      </div>
      <div class="letterListPartB">
        <div class="topSort4" >
          <div *ngFor="let game of gridTypes; let i = index;" class="filterGrids" (click)="changeGridType(i)">
            <div class="grid{{i}}">
              <tile-game [gameData]="game.data" [miniScale]="true" [playHistory]="false" [noInteraction]="true"></tile-game>
            </div>
            <div class="gridBtn{{i}} gridRadio">
              <input id="gridTypeRadio{{i}}" type="radio" value="{{i}}" name="gridTypeRadio" class="gridTypeRadio" [attr.checked]="gridTypes[i].selected ? 'checked' : null">
            </div>
          </div>
        </div>
        <div class="topSort2">
          <div>
            <div><div class="textElement"><label class="labelEle">Start Date</label></div></div>
            <div class="textElement"><input value="{{formatDateTime(filter.startDate)}}" [(ngModel)]="filterStartDate" id="filterStartID" type="date"></div>
            <div><div class="textElement"><label class="labelEle">End Date</label></div></div>
            <div class="textElement"><input value="{{formatDateTime(filter.endDate)}}" [(ngModel)]="filterEndDate" id="filterFinishID" type="date"></div>
          </div>
        </div>
        
    </div>

    </div>
    <!--Letters-->
    <div class="sortRow1" style="flex-wrap:wrap;">
      <div class="letterListContainer">
        <div class="letterListPartA">
            <div class="letterListItem" *ngFor="let letter of filter.letters.slice(0,filter.letters.length/2); let i = index">
              <div class="innerLeft" *ngIf="i < filter.letters.length/2">
                <div>
                  <span>{{letter.letter}}</span>
                </div>
                <div>
                  <ion-checkbox [(ngModel)]="filter.letters[i].isReturned"></ion-checkbox>
                </div>
              </div>
            </div>
          </div>
          <div class="letterListPartB">
            <div class="letterListItem" *ngFor="let letter of filter.letters.slice(filter.letters.length/2,filter.letters.length); let i = index">
              <div class="innerLeft" *ngIf="i < filter.letters.length/2">
                <div>
                  <span>{{letter.letter}}</span>
                </div>
                <div>
                  <ion-checkbox [(ngModel)]="filter.letters[i + (filter.letters.length/2)].isReturned"></ion-checkbox>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="topSort3">
        <div class="innerLeft">
        </div>
        <div class="innerRight">
        </div>
      </div>
      
    </div>
  </div>
</ion-header>

<ion-content padding>
  <!--Grids-->
  <span class="searchBtn" (click)="searchGames()"><button ion-button small block>Search</button></span>
  <div style="display:inline-flex;" class="cardContainer">
  <!--Freeplay-->
    <div class="card-wrapper" *ngFor="let game of completedGames">
      <ion-card>
        <div class="innerCardContainer">
          <div>
            <tile-game [gameData]="game" [miniScale]="true" [playHistory]="false" [noInteraction]="true"></tile-game>
          </div>
          <div>
            <ion-card-content>
            <h2>{{game.meta.letter}}</h2>
            <h3 *ngIf="game.meta.workshopID !== null || game.meta.workshopID !== undefined">WID: {{game.meta.workshopID}}</h3>
            </ion-card-content>
          </div>
        </div>
      </ion-card>
    </div>
    <!--Challenge-->
  </div>
</ion-content>
