page-board-selection {
	.scroll-content {
		background-color: #F0F0F0;
	}
	.card {
		margin-right: 10px;
		margin-left: 10px;
		padding-top:10px;
		width: calc(49% - 20px);
		display: inline-block;
		padding-top: 20px;
		height: 150px;
		text-align: center;
		&:nth-child(1), &:nth-child(2), &:nth-child(3) {
			ion-card-content {
				margin-top: 15px;
			}
		}
	}

	.tile, [data-value="1"] {
		background-color: red !important;
		border: 1px solid red !important;
		color: red !important;
	}

	.tile, [data-value="0"], [data-value="2"] {
		border: 0.5px solid #e7e7e7 !important;
		background-color: #e7e7e7 !important;
	}

	.card-wrapper {
		max-width: 320px;
		margin: 0 auto;
		cursor: pointer;
	}
}
