<!--
  Generated template for the BoardSelection page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-toolbar>
	  <ion-title>
	    Boards
	  </ion-title>
	  <ion-buttons end>
	    <button ion-button (click)="dismiss()">
	      <ion-icon name="md-close"></ion-icon>
	    </button>
	  </ion-buttons>
	</ion-toolbar>

</ion-header>


<ion-content padding>

<div class="card-wrapper">
	<ion-card (click)="setBoard(5, 5, 9)">
		<tile-game [gameData]="fiveXfiveXnineGrid" [miniScale]="true"></tile-game>
		<ion-card-content>
	 		<b color="primary">mono grid</b>
	 		<p>9 squares</p>
		</ion-card-content>
	</ion-card>

	<ion-card (click)="setBoard(5, 5, 10)">
		<tile-game [gameData]="fiveXfiveXtenGrid" [miniScale]="true"></tile-game>
		<ion-card-content>
	 		<b color="primary">mono grid</b>
	 		<p>10 squares</p>
		</ion-card-content>
	</ion-card>

	<ion-card (click)="setBoard(5, 5, 11)">
		<tile-game [gameData]="fiveXfiveXelevenGrid" [miniScale]="true"></tile-game>
		<ion-card-content>
	 		<b color="primary">mono grid</b>
	 		<p>11 squares</p>
		</ion-card-content>
	</ion-card>

	<ion-card (click)="setBoard(7, 9, 16)">
		<tile-game [gameData]="sevenXnineXsixteenGrid" [miniScale]="true"></tile-game>
		<ion-card-content>
	 		<b color="primary">typo grid</b>
	 		<p>16 squares</p>
		</ion-card-content>
	</ion-card>
</div>



</ion-content>
