<!--
  Generated template for the SetupWorkshop page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Start Workshop</ion-title>
    <ion-buttons end>
	    <button ion-button (click)="dismiss()">
	      <ion-icon name="md-close"></ion-icon>
	    </button>
	  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-list>
	  <ion-item>
	    <ion-label stacked color="primary">Workshop Name</ion-label>
	    <ion-input type="text" placeholder="Workshop Name" [(ngModel)]="workshopName"></ion-input>
	  </ion-item>
	</ion-list>

  <ion-list radio-group [(ngModel)]="selectedMode">
  	<ion-list-header>Select a gamemode</ion-list-header>
	  <ion-item>
	    <ion-label>Freeplay</ion-label>
	    <ion-radio value="0" checked="true"></ion-radio>
	  </ion-item>
	  <ion-item>
	    <ion-label>Challenge Mode</ion-label>
	    <ion-radio value="1"></ion-radio>
		</ion-item>
	</ion-list>

	<ion-list>
		<ion-list-header>
			Define an age range
			<ion-badge color="dark" item-right>{{ageRange.lower}}</ion-badge>
			<ion-badge color="dark" item-right>{{ageRange.upper}}</ion-badge>
		</ion-list-header>
	  <ion-range pin="true" dualKnobs="true" min="0" max="100" [(ngModel)]="ageRange" color="secondary">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>100</ion-label>
    </ion-range>
	</ion-list>

	<button ion-button block (click)="confirm()">Submit</button>



</ion-content>
