<!--
  Generated template for the Admin page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Workshops</ion-title>
    <button ion-button menuToggle right (click)="profile()">
    	Logout
	    <ion-icon name="person"></ion-icon>
	  </button>
  </ion-navbar>

</ion-header>

<ion-content>

	<ion-searchbar
		placeholder="Only if we have time!"
	  [(ngModel)]="searchInput"
	  [showCancelButton]="shouldShowCancel"
	  (ionInput)="onInput($event)"
	  (ionCancel)="onCancel($event)">
	</ion-searchbar>

	<ion-list>
		<ion-list-header>Ongoing</ion-list-header>
		<ion-item-sliding *ngFor="let workshop of activeWorkshops">
	    <ion-item>
	      <ion-avatar item-left>
	        <ion-icon name="logo-yahoo"></ion-icon>
	      </ion-avatar>
	      <h2>KEY: {{workshop.$key}}, NAME: {{workshop._Name}}, AGE: {{workshop._LowerAge}} - {{workshop._UpperAge}}</h2>
	      <ion-note item-right></ion-note>
	    </ion-item>
	    <ion-item-options>
	      <button ion-button (click)="endWorkshop(workshop.$key)" color="danger">
						End
	      </button>
	    </ion-item-options>
	  </ion-item-sliding>
	</ion-list>

	<ion-list>
		<ion-list-header>Finished</ion-list-header>
		<ion-item-sliding *ngFor="let workshop of inactiveWorkshops">
	    <ion-item>
	      <ion-avatar item-left>
	        <ion-icon name="logo-yahoo"></ion-icon>
	      </ion-avatar>
	      <h2>KEY: {{workshop.$key}}, NAME: {{workshop._Name}}, AGE: {{workshop._LowerAge}} - {{workshop._UpperAge}}</h2>
	      <ion-note item-right></ion-note>
	    </ion-item>
	    <ion-item-options>
	      <button ion-button (click)="restartWorkshop(workshop.$key)">
						Restart
	      </button>
	    </ion-item-options>
	  </ion-item-sliding>
	</ion-list>
	<ion-fab right bottom>
	  <button ion-fab color="danger" (click)="startWorkshop()">
	  	<ion-icon name="add"></ion-icon>
	  </button>
	</ion-fab>

</ion-content>

