<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Workshops" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Letters" tabIcon="text"></ion-tab>
  <ion-tab (ionSelect)="returnToGame()" tabTitle="Play" tabIcon="text"></ion-tab>
</ion-tabs>
