<!--
  Generated template for the LetterSubmission page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-toolbar>
	  <ion-title>
	    Submit
	  </ion-title>
	  <ion-buttons end>
	    <button ion-button (click)="dismiss()">
	      <ion-icon name="md-close"></ion-icon>
	    </button>
	  </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>

	<ion-list>
		<form [formGroup]="letterValidation">
		  <ion-item>
		    <ion-label stacked color="primary">What letter are you submitting?</ion-label>
		    <ion-input type="text" [(ngModel)]="toSubmit" [attr.maxlength]="1" pattern="[a-zA-Z ]*" formControlName="letter" (keypress)="onEnter($event.keyCode)"></ion-input>
		  </ion-item>
		</form>
	</ion-list>

	<p ion-text color="danger" *ngIf=(submitAttempt)>Please enter a letter between A - Z.</p>

	<button ion-button block (click)="submit()">Submit</button>



</ion-content>
