<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <ion-buttons>
      <button ion-button icon-only (click)="logOut()">
          Log out
          <ion-icon name="log-out"></ion-icon>
      </button>

      <button ion-fab icon-only [navPush]="gameScreen">
          Play
          <ion-icon name="play"></ion-icon>
      </button>

      <button ion-button icon-only (click)="showPrompt()">
          Link accounts
          <ion-icon name="play"></ion-icon>
      </button>
  </ion-buttons>

</ion-content>
